.footer {
    background-color: #e2a6d2;
    padding: 15px 0px 15px 0px;
    color: #5f1f4e;
  }

  .container-footer {
    margin-top: 5px;
    margin-left: 25px;
  }

  .container-footer .row .col .number a img  {
    margin-right: 15px;
    width: 40px;
  }
