.table{
    margin: 0 auto;
}

.table1{
    width: 70%;
    margin: 0 auto;
}

.table2{
    width: 70%;
    margin: 0 auto;
}

.nav-item {
    color: #8f3a78 !important;
}

.table1 tr:nth-child(odd) {
    background-color: #f1c3e577 !important;
    }

.table2 tr:nth-child(odd) {
    background-color: #f1c3e577 !important;
    }

.table2 tr:nth-child(even) {
    background-color: #e2a6d2b2 !important;
    }

 